.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 500px;
  height: 500px;

  div {
    border: 1px solid black;
  }

  div.current {
    background-color: blue;
  }

  div.visited {
    background-color: sandybrown;
  }

  div.has_bomb {
    background-image: url("/assets/images/bomb.png");
    background-size: cover;
    background-color: yellow;
  }

  div.blast {
    background-image: url("/assets/images/blast.png");
    background-size: cover;
    background-color: lightcoral;
    animation: blinker 1s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}
